<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.core.WizardNodeView">
      <wizardNodeView
            description="Browser using the Chromium Embedded Framework (CEF) Browser"
            name="Chromium Embedded Framework (CEF) Browser"
            viewClass="org.knime.js.cef.wizardnodeview.CEFWizardNodeView">
      </wizardNodeView>
   </extension>
   <extension
         point="org.knime.js.core.headlessBrowsers">
      <headlessBrowser
            imageGeneratorClass="org.knime.js.cef.headless.CEFImageGenerator"
            name="Chromium Embedded Framework (CEF) Browser">
      </headlessBrowser>
   </extension>
</plugin>
