<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.knime.workbench.repository.nodes">
      <node
            category-path="/quickform/input"
            factory-class="org.knime.js.base.node.quickform.input.string.StringInputQuickFormNodeFactory"
            id="org.knime.js.base.node.quickform.input.string.StringInputQuickFormNodeFactory">
      </node>
      <node
            category-path="/quickform/input"
            factory-class="org.knime.js.base.node.quickform.input.bool.BooleanInputQuickFormNodeFactory"
            id="org.knime.js.base.node.quickform.input.bool.BooleanInputQuickFormNodeFactory">
      </node>
      <node
            category-path="/quickform/input"
            factory-class="org.knime.js.base.node.quickform.input.integer.IntInputQuickFormNodeFactory"
            id="org.knime.js.base.node.quickform.input.integer.IntInputQuickFormNodeFactory">
      </node>
      <node
            category-path="/quickform/input"
            factory-class="org.knime.js.base.node.quickform.input.dbl.DoubleInputQuickFormNodeFactory"
            id="org.knime.js.base.node.quickform.input.dbl.DoubleInputQuickFormNodeFactory">
      </node>
      <node
            category-path="/quickform/input"
            factory-class="org.knime.js.base.node.quickform.input.date.DateStringInputQuickFormNodeFactory"
            id="org.knime.js.base.node.quickform.input.date.DateStringInputQuickFormNodeFactory">
      </node>
      <node
            category-path="/quickform/input"
            factory-class="org.knime.js.base.node.quickform.input.listbox.ListBoxInputQuickFormNodeFactory"
            id="org.knime.js.base.node.quickform.input.listbox.ListBoxInputQuickFormNodeFactory">
      </node>
      <node
            category-path="/quickform/input"
            factory-class="org.knime.js.base.node.quickform.input.molecule.MoleculeStringInputQuickFormNodeFactory"
            id="org.knime.js.base.node.quickform.input.molecule.MoleculeStringInputQuickFormNodeFactory">
      </node>
      <node
            after="org.knime.base.node.viz.plotter.line.LinePlotterNodeFactory"
            category-path="/view"
            factory-class="org.knime.js.base.node.viz.plotter.line.WebLinePlotterNodeFactory"
            id="org.knime.js.base.node.viz.plotter.line.WebLinePlotterNodeFactory"/>
      <node
            after="org.knime.base.node.preproc.filter.row.RowFilterNodeFactory"
            category-path="/manipulation/row/row-filter"
            factory-class="org.knime.js.base.node.rowselector.RowSelectorNodeFactory"
            id="org.knime.js.base.node.rowselector.RowSelectorNodeFactory"/>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/quickform_category.png"
            level-id="quickform"
            name="Quick Form"
            path="/">
      </category>
      <category
      		icon="icons/missing.gif"
            level-id="input"
            name="Input"
            path="/quickform"/>
      <category
      		icon="icons/missing.gif"
            level-id="output"
            name="Output"
            path="/quickform"/>
      <category
      		icon="icons/missing.gif"
            level-id="selection"
            name="Selection"
            path="/quickform"/>
      <category
      		icon="icons/missing.gif"
            level-id="filter"
            name="Filter"
            path="/quickform"/>
   </extension>
   <extension
         point="org.knime.js.core.webResources">
      <webResourceBundle
            webResourceBundleID="org_knime_js_base_node_quickform_input_string_bundle">
         <webResource
               relativePathSource="src/org/knime/js/base/node/quickform/input/string/js/"
               relativePathTarget="org/knime/js/base/node/quickform/input/string/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/quickform/input/string/js/WebView.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            webResourceBundleID="org.knime.js.base.node.viz.plotter.line.bundle">
         <webResource
               relativePathSource="src/org/knime/js/base/node/viz/plotter/line/web/"
               relativePathTarget="org/knime/js/base/node/viz/plotter/line/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/plotter/line/web-template.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/plotter/line/styles.css"
               type="CSS">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            webResourceBundleID="org.knime.js.base.node.rowselector.bundle">
         <webResource
               relativePathSource="src/org/knime/js/base/node/rowselector/web/"
               relativePathTarget="org/knime/js/base/node/rowselector/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/rowselector/web-template.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/js/base/node/rowselector/styles.css"
               type="CSS">
         </importResource>
      </webResourceBundle>
   </extension>
   <extension
         point="org.knime.js.core.javascriptComponents">
      <javascriptComponent
            getComponentValue-method-name="value"
            implementationBundleID="org_knime_js_base_node_quickform_input_string_bundle"
            init-method-name="init"
            jsObjectID="org_knime_js_base_node_quickform_input_string"
            namespace="org_knime_js_base_node_quickform_input_string"
            validate-method-name="validate">
         <webDependency
               webResourceBundleID="jQuery_1.10.2">
         </webDependency>
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.plotter.line.bundle"
            init-method-name="init"
            jsObjectID="knime_line_plotter"
            namespace="knime_line_plotter"
            validate-method-name="validate">
         <webDependency
               webResourceBundleID="D3_3.2.8_Debug">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.rowselector.bundle"
            init-method-name="init"
            jsObjectID="knime_row_selector"
            namespace="knime_row_selector"
            validate-method-name="validate">
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
         <webDependency
               webResourceBundleID="jQuery_1.10.2">
         </webDependency>
      </javascriptComponent>
   </extension>

</plugin>
