<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.knime.workbench.repository.nodes">
      <node
            category-path="/flowcontrol/quickforms/input"
            factory-class="org.knime.js.base.node.quickform.input.string.StringInputQuickFormNodeFactory"
            id="org.knime.js.base.node.quickform.input.string.StringInputQuickFormNodeFactory">
      </node>
<!--      <node
            category-path="/flowcontrol/quickforms/input"
            factory-class="org.knime.js.base.node.quickform.input.credentials.CredentialsInputQuickFormNodeFactory"
            id="org.knime.js.base.node.quickform.input.credentials.CredentialsInputQuickFormNodeFactory">
      </node>
-->
      <node
            category-path="/flowcontrol/quickforms/input"
            factory-class="org.knime.js.base.node.quickform.input.bool.BooleanInputQuickFormNodeFactory"
            id="org.knime.js.base.node.quickform.input.bool.BooleanInputQuickFormNodeFactory">
      </node>
      <node
            category-path="/flowcontrol/quickforms/input"
            factory-class="org.knime.js.base.node.quickform.input.integer.IntInputQuickFormNodeFactory"
            id="org.knime.js.base.node.quickform.input.integer.IntInputQuickFormNodeFactory">
      </node>
      <node
            category-path="/flowcontrol/quickforms/input"
            factory-class="org.knime.js.base.node.quickform.input.dbl.DoubleInputQuickFormNodeFactory"
            id="org.knime.js.base.node.quickform.input.dbl.DoubleInputQuickFormNodeFactory">
      </node>
      <node
            category-path="/flowcontrol/quickforms/input"
            factory-class="org.knime.js.base.node.quickform.input.date.DateInputQuickFormNodeFactory"
            id="org.knime.js.base.node.quickform.input.date.DateInputQuickFormNodeFactory">
      </node>
      <node
            category-path="/flowcontrol/quickforms/input"
            factory-class="org.knime.js.base.node.quickform.input.listbox.ListBoxInputQuickFormNodeFactory"
            id="org.knime.js.base.node.quickform.input.listbox.ListBoxInputQuickFormNodeFactory">
      </node>
      <node
            category-path="/flowcontrol/quickforms/selection"
            factory-class="org.knime.js.base.node.quickform.selection.single.SingleSelectionQuickFormNodeFactory"
            id="org.knime.js.base.node.quickform.selection.single.SingleSelectionQuickFormNodeFactory">
      </node>
      <node
            category-path="/flowcontrol/quickforms/selection"
            factory-class="org.knime.js.base.node.quickform.selection.multiple.MultipleSelectionQuickFormNodeFactory"
            id="org.knime.js.base.node.quickform.selection.multiple.MultipleSelectionQuickFormNodeFactory">
      </node>
       <node
            category-path="/flowcontrol/quickforms/selection"
            factory-class="org.knime.js.base.node.quickform.selection.value.ValueSelectionQuickFormNodeFactory"
            id="org.knime.js.base.node.quickform.selection.value.ValueSelectionQuickFormNodeFactory">
      </node>
      <node
            category-path="/flowcontrol/quickforms/filter"
            factory-class="org.knime.js.base.node.quickform.filter.value.ValueFilterQuickFormNodeFactory"
            id="org.knime.js.base.node.quickform.filter.value.ValueFilterQuickFormNodeFactory">
      </node>
      <node
            category-path="/flowcontrol/quickforms/selection"
            factory-class="org.knime.js.base.node.quickform.selection.column.ColumnSelectionQuickFormNodeFactory"
            id="org.knime.js.base.node.quickform.selection.column.ColumnSelectionQuickFormNodeFactory">
      </node>
      <node
            category-path="/flowcontrol/quickforms/filter"
            factory-class="org.knime.js.base.node.quickform.filter.column.ColumnFilterQuickFormNodeFactory"
            id="org.knime.js.base.node.quickform.filter.column.ColumnFilterQuickFormNodeFactory">
      </node>
      <node
            category-path="/flowcontrol/quickforms/view"
            factory-class="org.knime.js.base.node.viz.table.WebTableViewNodeFactory"
            id="org.knime.js.base.node.viz.table.WebTableViewNodeFactory">
      </node>
      <!-- <node
            factory-class="org.knime.base.node.preproc.select.value.InteractiveValueSelectNodeFactory"
            id="org.knime.base.node.preproc.select.value.InteractiveValueSelectNodeFactory">
      </node> -->
      <!-- <node
            after="org.knime.js.base.node.viz.table.WebTableViewNodeFactory"
            category-path="/flowcontrol/quickforms/view"
            factory-class="org.knime.js.base.node.rowselector.RowSelectorNodeFactory"
            id="org.knime.js.base.node.rowselector.RowSelectorNodeFactory"/> -->
      <node
            category-path="/flowcontrol/quickforms/view"
            factory-class="org.knime.js.base.node.viz.plotter.scatterSelectionAppender.ScatterPlotNodeFactory"
            id="org.knime.js.base.node.viz.plotter.scatterSelectionAppender.ScatterPlotNodeFactory">
      </node>
      <!-- <node
            after="org.knime.js.base.node.viz.plotter.scatter.ScatterPlotNodeFactory"
            category-path="/flowcontrol/quickforms/view"
            factory-class="org.knime.js.base.node.viz.plotter.scatter_own.WebScatterPlotterNodeFactory"
            id="org.knime.js.base.node.viz.plotter.scatter_own.WebScatterPlotterNodeFactory">
      </node> -->
      <!-- <node
            after="org.knime.js.base.node.viz.plotter.scatter_own.WebScatterPlotterNodeFactory"
            category-path="/flowcontrol/quickforms/view"
            factory-class="org.knime.js.base.node.viz.plotter.line.WebLinePlotterNodeFactory"
            id="org.knime.js.base.node.viz.plotter.line.WebLinePlotterNodeFactory"/> -->
      <node
            category-path="/flowcontrol/quickforms/view"
            factory-class="org.knime.js.base.node.viz.generic2.GenericJSViewNodeFactory"
            id="org.knime.js.base.node.viz.generic2.GenericJSViewNodeFactory">
      </node>
      <node
            category-path="/flowcontrol/quickforms/view"
            factory-class="org.knime.js.base.node.viz.plotter.line.LinePlotNodeFactory"
            id="org.knime.js.base.node.viz.plotter.line.LinePlotNodeFactory">
      </node>
      <node
            category-path="/flowcontrol/quickforms/input"
            factory-class="org.knime.js.base.node.quickform.input.fileupload.FileUploadQuickFormNodeFactory"
            id="org.knime.js.base.node.quickform.input.fileupload.FileUploadQuickFormNodeFactory">
      </node>
      <node
            category-path="/flowcontrol/quickforms/output"
            factory-class="org.knime.js.base.node.output.filedownload.FileDownloadNodeFactory"
            id="org.knime.js.base.node.output.filedownload.FileDownloadNodeFactory">
      </node>
      <node
            category-path="/flowcontrol/quickforms/output"
            factory-class="org.knime.js.base.node.output.image.ImageOutputNodeFactory"
            id="org.knime.js.base.node.output.image.ImageOutputNodeFactory">
      </node>
      <node
            category-path="/flowcontrol/quickforms/output"
            factory-class="org.knime.js.base.node.output.text.TextOutputNodeFactory"
            id="org.knime.js.base.node.output.image.TextOutputNodeFactory">
      </node>
      <node
            category-path="/flowcontrol/quickforms/view"
            factory-class="org.knime.js.base.node.viz.plotter.roc.ROCCurveNodeFactory"
            id="org.knime.js.base.node.viz.plotter.roc.ROCCurveNodeFactory">
      </node>
      <node
            category-path="/flowcontrol/quickforms/view"
            factory-class="org.knime.js.base.node.viz.plotter.lift.LiftChartNodeFactory"
            id="org.knime.js.base.node.viz.plotter.lift.LiftChartNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
      		icon="icons/missing.gif"
            level-id="input"
            name="Input"
            path="/flowcontrol/quickforms"/>
      <category
            after="input"
            icon="icons/missing.gif"
            level-id="selection"
            name="Selection"
            path="/flowcontrol/quickforms"/>
      <category
            after="selection"
            icon="icons/missing.gif"
            level-id="filter"
            name="Filter"
            path="/flowcontrol/quickforms"/>
      <category
            after="filter"
            icon="src/org/knime/js/base/node/viz/js.png"
            level-id="view"
            locked="true"
            name="Interactive Views"
            path="/flowcontrol/quickforms">
      </category>
      <category
            icon="icons/missing.gif"
            level-id="output"
            name="Output"
            path="/flowcontrol/quickforms">
      </category>
   </extension>
   <extension
         point="org.knime.js.core.webResources">
      <webResourceBundle
            debug="true"
            name="Universal Date Formatter"
            version="1.2.3"
            webResourceBundleID="org.knime.js.base.util.dateFormat.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/util/dateFormat/"
               relativePathTarget="org/knime/js/base/util/dateFormat/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/util/dateFormat/date-format.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="String Input Quickform"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.quickform.input.string.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/quickform/input/string/"
               relativePathTarget="org/knime/js/base/node/quickform/input/string/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/quickform/input/string/StringInput.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="KnimeQuickformUtils_1.0.0">
         </webDependency>
      </webResourceBundle>
<!--      <webResourceBundle
            debug="true"
            name="Credentials Input Quickform"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.quickform.input.credentials.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/quickform/input/credentials/"
               relativePathTarget="org/knime/js/base/node/quickform/input/credentials/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/quickform/input/credentials/CredentialsInput.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="KnimeQuickformUtils_1.0.0">
         </webDependency>
      </webResourceBundle> -->
      
      <!-- <webResourceBundle
            debug="true"
            name="Line Plotter"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.viz.plotter.line.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/plotter/line/"
               relativePathTarget="org/knime/js/base/node/viz/plotter/line/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/plotter/line/web-template.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/plotter/line/styles.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="D3_3.2.8_Debug">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
      </webResourceBundle> -->
      <!-- <webResourceBundle
            debug="true"
            name="Row Selector"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.rowselector.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/rowselector/"
               relativePathTarget="org/knime/js/base/node/rowselector/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/rowselector/web-template.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/js/base/node/rowselector/styles.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="jQuery_1.11.0">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
      </webResourceBundle> -->
      <webResourceBundle
            debug="true"
            name="Table"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.viz.table.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/table/"
               relativePathTarget="org/knime/js/base/node/viz/table/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/table/web-template.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="jQuery_1.11.0">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeTableView_1.0.0">
         </webDependency>
         <webDependency
               webResourceBundleID="jQueryNumberFormat_2.1.3">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Integer Input Quickform"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.quickform.input.integer.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/quickform/input/integer/"
               relativePathTarget="org/knime/js/base/node/quickform/input/integer/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/quickform/input/integer/IntegerInput.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="KnimeQuickformUtils_1.0.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Double Input Quickform"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.quickform.input.dbl.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/quickform/input/dbl/"
               relativePathTarget="org/knime/js/base/node/quickform/input/dbl/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/quickform/input/dbl/DoubleInput.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="KnimeQuickformUtils_1.0.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Boolean Input Quickform"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.quickform.input.bool.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/quickform/input/bool/"
               relativePathTarget="org/knime/js/base/node/quickform/input/bool/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/quickform/input/bool/BooleanInput.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="KnimeQuickformUtils_1.0.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Date Input Quickform"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.quickform.input.date.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/quickform/input/date/"
               relativePathTarget="org/knime/js/base/node/quickform/input/date/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/quickform/input/date/DateInput.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="KnimeQuickformUtils_1.0.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Listbox Input Quickform"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.quickform.input.listbox.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/quickform/input/listbox/"
               relativePathTarget="org/knime/js/base/node/quickform/input/listbox/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/quickform/input/listbox/ListBoxInput.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="KnimeQuickformUtils_1.0.0">
         </webDependency>
      </webResourceBundle>
      <!-- <webResourceBundle
            debug="true"
            name="Scatter Plot Own"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.viz.plotter.scatter_own.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/plotter/scatter_own/"
               relativePathTarget="org/knime/js/base/node/viz/plotter/scatter_own/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/plotter/scatter_own/web-template.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/plotter/scatter_own/styles.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="D3_3.2.8">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
      </webResourceBundle> -->
      <webResourceBundle
            debug="true"
            name="Single Selection Quickform"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.quickform.selection.single.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/quickform/selection/single/"
               relativePathTarget="org/knime/js/base/node/quickform/selection/single/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/quickform/selection/single/SingleSelection.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="SingleSelection">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeQuickformUtils_1.0.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Multiple Selection Quickform"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.quickform.selection.multiple.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/quickform/selection/multiple/"
               relativePathTarget="org/knime/js/base/node/quickform/selection/multiple/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/quickform/selection/multiple/MultipleSelection.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="MultipleSelections">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeQuickformUtils_1.0.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Value Selection Quickform"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.quickform.selection.value.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/quickform/selection/value/"
               relativePathTarget="org/knime/js/base/node/quickform/selection/value/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/quickform/selection/value/ValueSelection.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="SingleSelection">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeQuickformUtils_1.0.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Value Filter Quickform"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.quickform.filter.value.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/quickform/filter/value/"
               relativePathTarget="org/knime/js/base/node/quickform/filter/value/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/quickform/filter/value/ValueFilter.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="MultipleSelections">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeQuickformUtils_1.0.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Column Selection Quickform"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.quickform.selection.column.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/quickform/selection/column/"
               relativePathTarget="org/knime/js/base/node/quickform/selection/column/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/quickform/selection/column/ColumnSelection.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="SingleSelection">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeQuickformUtils_1.0.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Column Filter Quickform"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.quickform.filter.column.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/quickform/filter/column/"
               relativePathTarget="org/knime/js/base/node/quickform/filter/column/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/quickform/filter/column/ColumnFilter.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="MultipleSelections">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeQuickformUtils_1.0.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Single Selection Lib"
            version="1.0.0"
            webResourceBundleID="SingleSelection">
         <webResource
               relativePathSource="js-src/org/knime/js/base/dialog/selection/single/"
               relativePathTarget="org/knime/js/base/dialog/selection/single/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/dialog/selection/single/DropdownSingleSelection.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/js/base/dialog/selection/single/ListSingleSelection.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/js/base/dialog/selection/single/RadioButtonSingleSelection.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="jQuery_1.11.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Multiple Selections Lib"
            version="1.0.0"
            webResourceBundleID="MultipleSelections">
         <webResource
               relativePathSource="js-src/org/knime/js/base/dialog/selection/multiple/"
               relativePathTarget="org/knime/js/base/dialog/selection/multiple/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/dialog/selection/multiple/CheckBoxesMultipleSelections.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/js/base/dialog/selection/multiple/ListMultipleSelections.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/js/base/dialog/selection/multiple/TwinlistMultipleSelections.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="jQuery_1.11.0">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeTwinlist_1.0.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="KNIME Table View"
            version="1.0.0"
            webResourceBundleID="KnimeTableView_1.0.0">
         <webResource
               relativePathSource="js-src/org/knime/js/base/util/table/view/"
               relativePathTarget="org/knime/js/base/util/table/view/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/util/table/view/knime_table_view_1_0_0.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/js/base/util/table/view/styles.css"
               type="CSS">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Generic JavaScript View"
            version="1.0.0"
            webResourceBundleID="GenericJSView_1_0_0">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/generic/"
               relativePathTarget="org/knime/js/base/node/viz/generic/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/generic/knime-generic-view.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="RequireJS_2.1.8">
         </webDependency>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Scatter Plot (Deprecated)"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.viz.plotter.scatter.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/plotter/scatter/"
               relativePathTarget="org/knime/js/base/node/viz/plotter/scatter/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/plotter/scatter/knime-scatter-plot.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="jsFreeChart_0.5">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="KNIME Quickform Utils"
            version="1.0.0"
            webResourceBundleID="KnimeQuickformUtils_1.0.0">
         <webResource
               relativePathSource="js-src/org/knime/js/base/util/quickform/"
               relativePathTarget="org/knime/js/base/util/quickform/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/util/quickform/knime_quickform_utils_1_0_0.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="org/knime/js/base/util/quickform/quickformStyles.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="jQueryUi_1.10.4">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Line Plot"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.viz.plotter.line.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/plotter/line/"
               relativePathTarget="org/knime/js/base/node/viz/plotter/line/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/plotter/line/knime-line-plot.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="jsFreeChart_0.5">
         </webDependency>
         <webDependency
               webResourceBundleID="MultipleSelections">
         </webDependency>
         <webDependency
               webResourceBundleID="org.knime.js.base.util.dateFormat.bundle">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Scatter Plot"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.viz.plotter.scatterSelectionAppender.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/plotter/scatterSelectionAppender/"
               relativePathTarget="org/knime/js/base/node/viz/plotter/scatterSelectionAppender/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/plotter/scatterSelectionAppender/knime-scatter-plot.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="jsFreeChart_0.5">
         </webDependency>
         <webDependency
               webResourceBundleID="org.knime.js.base.util.dateFormat.bundle">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="File Upload Quickform"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.quickform.input.fileupload.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/quickform/input/fileupload/"
               relativePathTarget="org/knime/js/base/node/quickform/input/fileupload/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/quickform/input/fileupload/FileUpload.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="KnimeQuickformUtils_1.0.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="File Download"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.output.filedownload.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/output/filedownload/"
               relativePathTarget="org/knime/js/base/node/output/filedownload/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/output/filedownload/FileDownload.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="KnimeQuickformUtils_1.0.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Image Output"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.output.image.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/output/image/"
               relativePathTarget="org/knime/js/base/node/output/image/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/output/image/ImageOutput.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="KnimeQuickformUtils_1.0.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Text Output"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.output.text.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/output/text/"
               relativePathTarget="org/knime/js/base/node/output/text/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/output/text/TextOutput.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="KnimeQuickformUtils_1.0.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="ROC Curve"
            version="1.0.0"
            webResourceBundleID="org.knime.js.base.node.viz.plotter.roc.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/plotter/roc/"
               relativePathTarget="org/knime/js/base/node/viz/plotter/roc/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/plotter/roc/knime-roc-plot.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="D3_3.2.8">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Lift Chart"
            version="1.0"
            webResourceBundleID="org.knime.js.base.node.viz.plotter.lift.bundle">
         <webResource
               relativePathSource="js-src/org/knime/js/base/node/viz/plotter/lift/"
               relativePathTarget="org/knime/js/base/node/viz/plotter/lift/">
         </webResource>
         <importResource
               relativePath="org/knime/js/base/node/viz/plotter/lift/knime-lift-chart.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="D3_3.2.8">
         </webDependency>
      </webResourceBundle>
   </extension>
   <extension
         point="org.knime.js.core.javascriptComponents">
      <!-- <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.plotter.line.bundle"
            init-method-name="init"
            javascriptComponentID="knime_line_plotter"
            name="DEV Line Chart"
            namespace="knime_line_plotter"
            validate-method-name="validate">
      </javascriptComponent> -->
      <!-- <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.rowselector.bundle"
            init-method-name="init"
            javascriptComponentID="knime_row_selector"
            name="DEV Table Row Selector"
            namespace="knime_row_selector"
            validate-method-name="validate">
      </javascriptComponent> -->
      <!-- <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.plotter.scatter_own.bundle"
            init-method-name="init"
            javascriptComponentID="knime_scatter_plotter_own"
            name="DEV Scatter Plot"
            namespace="knime_scatter_plotter"
            validate-method-name="validate">
      </javascriptComponent> -->
      <javascriptComponent
            getComponentValue-method-name="value"
            implementationBundleID="org.knime.js.base.node.quickform.input.string.bundle"
            init-method-name="init"
            javascriptComponentID="org_knime_js_base_node_quickform_input_string"
            name="String Input Quickform"
            namespace="org_knime_js_base_node_quickform_input_string"
            setValidationError-method-name="setValidationErrorMessage"
            validate-method-name="validate">
      </javascriptComponent>
<!--      <javascriptComponent
            getComponentValue-method-name="value"
            implementationBundleID="org.knime.js.base.node.quickform.input.credentials.bundle"
            init-method-name="init"
            javascriptComponentID="org_knime_js_base_node_quickform_input_credentials"
            name="Credentials Input Quickform"
            namespace="org_knime_js_base_node_quickform_input_credentials"
            setValidationError-method-name="setValidationErrorMessage"
            validate-method-name="validate">
      </javascriptComponent>
-->
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.table.bundle"
            init-method-name="init"
            javascriptComponentID="knime_table_viewer"
            name="Table Viewer"
            namespace="knime_table_viewer"
            setValidationError-method-name="setValidationErrorMessage"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="value"
            implementationBundleID="org.knime.js.base.node.quickform.input.integer.bundle"
            init-method-name="init"
            javascriptComponentID="org_knime_js_base_node_quickform_input_integer"
            name="Integer Input Quickform"
            namespace="org_knime_js_base_node_quickform_input_integer"
            setValidationError-method-name="setValidationErrorMessage"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="value"
            implementationBundleID="org.knime.js.base.node.quickform.input.dbl.bundle"
            init-method-name="init"
            javascriptComponentID="org_knime_js_base_node_quickform_input_dbl"
            name="Double Input Quickform"
            namespace="org_knime_js_base_node_quickform_input_dbl"
            setValidationError-method-name="setValidationErrorMessage"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="value"
            implementationBundleID="org.knime.js.base.node.quickform.input.bool.bundle"
            init-method-name="init"
            javascriptComponentID="org_knime_js_base_node_quickform_input_bool"
            name="Boolean Input Quickform"
            namespace="org_knime_js_base_node_quickform_input_bool">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="value"
            implementationBundleID="org.knime.js.base.node.quickform.input.date.bundle"
            init-method-name="init"
            javascriptComponentID="org_knime_js_base_node_quickform_input_date"
            name="Date Input Quickform"
            namespace="org_knime_js_base_node_quickform_input_date">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="value"
            implementationBundleID="org.knime.js.base.node.quickform.input.listbox.bundle"
            init-method-name="init"
            javascriptComponentID="org_knime_js_base_node_quickform_input_listbox"
            name="Listbox Input Quickform"
            namespace="org_knime_js_base_node_quickform_input_listbox"
            setValidationError-method-name="setValidationErrorMessage"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="value"
            implementationBundleID="org.knime.js.base.node.quickform.selection.single.bundle"
            init-method-name="init"
            javascriptComponentID="org_knime_js_base_node_quickform_selection_single"
            name="Single Selection Quickform"
            namespace="org_knime_js_base_node_quickform_selection_single">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="value"
            implementationBundleID="org.knime.js.base.node.quickform.selection.multiple.bundle"
            init-method-name="init"
            javascriptComponentID="org_knime_js_base_node_quickform_selection_multiple"
            name="Multiple Selection Quickform"
            namespace="org_knime_js_base_node_quickform_selection_multiple">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="value"
            implementationBundleID="org.knime.js.base.node.quickform.selection.value.bundle"
            init-method-name="init"
            javascriptComponentID="org_knime_js_base_node_quickform_selection_value"
            name="Value Selection Quickform"
            namespace="org_knime_js_base_node_quickform_selection_value">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="value"
            implementationBundleID="org.knime.js.base.node.quickform.filter.value.bundle"
            init-method-name="init"
            javascriptComponentID="org_knime_js_base_node_quickform_filter_value"
            name="Filter Value Quickform"
            namespace="org_knime_js_base_node_quickform_filter_value"
            setValidationError-method-name="setValidationErrorMessage">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="value"
            implementationBundleID="org.knime.js.base.node.quickform.selection.column.bundle"
            init-method-name="init"
            javascriptComponentID="org_knime_js_base_node_quickform_selection_column"
            name="Column Selection Quickform"
            namespace="org_knime_js_base_node_quickform_selection_column"
            setValidationError-method-name="setValidationErrorMessage">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="value"
            implementationBundleID="org.knime.js.base.node.quickform.filter.column.bundle"
            init-method-name="init"
            javascriptComponentID="org_knime_js_base_node_quickform_filter_column"
            name="Column Filter Quickform"
            namespace="org_knime_js_base_node_quickform_filter_column"
            setValidationError-method-name="setValidationErrorMessage">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="GenericJSView_1_0_0"
            init-method-name="init"
            javascriptComponentID="knime_generic_view"
            name="Generic JavaScript View"
            namespace="knime_generic_view"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.plotter.scatterSelectionAppender.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.js.base.node.viz.plotter.scatterSelectionAppender"
            name="Scatter Chart"
            namespace="knime_scatter_plot_selection_appender"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.plotter.line.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.js.base.node.viz.plotter.line"
            name="Line Chart"
            namespace="knime_line_plot"
            setValidationError-method-name="setValidationError"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="value"
            implementationBundleID="org.knime.js.base.node.quickform.input.fileupload.bundle"
            init-method-name="init"
            javascriptComponentID="org_knime_js_base_node_quickform_input_fileupload"
            name="File Upload Quickform"
            namespace="org_knime_js_base_node_quickform_input_fileupload"
            setValidationError-method-name="setValidationErrorMessage"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.plotter.scatter.bundle"
            init-method-name="init"
            javascriptComponentID="org_knime_js_base_node_viz_plotter_scatter"
            name="Scatter Chart (Deprecated)"
            namespace="knime_scatter_plot"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="value"
            implementationBundleID="org.knime.js.base.node.output.filedownload.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.js.base.node.output.filedownload"
            name="File Download"
            namespace="org_knime_js_base_node_output_filedownload"
            setValidationError-method-name="setValidationErrorMessage"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="value"
            implementationBundleID="org.knime.js.base.node.output.image.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.js.base.node.output.image"
            name="Image Output"
            namespace="org_knime_js_base_node_output_image"
            setValidationError-method-name="setValidationErrorMessage"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="value"
            implementationBundleID="org.knime.js.base.node.output.text.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.js.base.node.output.text"
            name="Text Output"
            namespace="org_knime_js_base_node_output_text"
            setValidationError-method-name="setValidationErrorMessage"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.plotter.roc.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.js.base.node.viz.plotter.roc"
            name="ROC Curve"
            namespace="knime_roc_curve"
            setValidationError-method-name="setValidationError"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.js.base.node.viz.plotter.lift.bundle"
            init-method-name="init"
            javascriptComponentID="org.knime.js.base.node.viz.plotter.lift"
            name="Lift Chart"
            namespace="knime_lift_chart"
            setValidationError-method-name="setValidationError"
            validate-method-name="validate">
      </javascriptComponent>
   </extension>

</plugin>
