table.knimeTableView {
	margin: 10px auto;
}

table.knimeTableView,
table.knimeTableView .knimeTableCell {
	border: 1px solid gray;
	border-spacing: 0px;
	border-collapse: collapse;
}

table.knimeTableView .knimeTableCell {
	padding: 0 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #2C2C2C;
	text-align: left;
	vertical-align: middle;
}

table.knimeTableView .knimeTableRow.disabled .knimeTableCell {
	color: #CCCCCC;
}

table.knimeTableView .knimeTableHeaderCell {
	background-color: #C2C2C2;
	font-weight: bold;
}

table.knimeTableView .knimeTableRowKeyHeaderCell {
	text-align: center;
}

table.knimeTableView .knimeTableRowKeyCell {
	background-color: #E5E5E5;
	font-style: italic;
	padding-left: 0;
	white-space: nowrap;
}

table.knimeTableView .knimeTableRowColor {
	display: inline-block;
	margin-right: 3px;
	vertical-align: middle;
}

table.knimeTableView .knimeTableRowKeyText {
	display: inline-block;
	vertical-align: middle;
}

table.knimeTableView .knimeTableSelectCell, table.knimeTableView .knimeTableSelectAll {
	text-align: center;
	vertical-align: middle;
	padding: 0;
}

input[type='checkbox'] {
	margin: 1px 2px;
	padding: 0;
	display: block;
}