<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="webResources" name="Web Resources" schema="schema/webResources.exsd"/>
   <extension-point id="javascriptComponents" name="Javascript Components" schema="schema/javascriptComponents.exsd"/>
   <extension
         id="org.knime.js.code.js-lib"
         point="org.knime.js.core.webResources">
      <webResourceBundle
            webResourceBundleID="D3_3.2.8_Debug">
         <webResource
               relativePathSource="js-lib/d3/d3.v3_2_8.js"
               relativePathTarget="js-lib/d3/d3.v3_2_8.js">
         </webResource>
         <importResource
               relativePath="js-lib/d3/d3.v3_2_8.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            webResourceBundleID="D3_3.2.8">
         <webResource
               relativePathSource="js-lib/d3/d3.v3_2_8.min.js"
               relativePathTarget="js-lib/d3/d3.v3_2_8.min.js">
         </webResource>
         <importResource
               relativePath="js-lib/d3/d3.v3_2_8.min.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            webResourceBundleID="KnimeTable_1.0.0">
         <webResource
               relativePathSource="js-lib/knime/knime_table_1_0_0.js"
               relativePathTarget="js-lib/knime/knime_table_1_0_0.js">
         </webResource>
         <importResource
               relativePath="js-lib/knime/knime_table_1_0_0.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            webResourceBundleID="RequireJS_2.1.8">
         <webResource
               relativePathSource="js-lib/requireJS/require.js"
               relativePathTarget="js-lib/requireJS/require.js">
         </webResource>
         <importResource
               relativePath="js-lib/requireJS/require.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            webResourceBundleID="jQuery_1.11.0_Debug">
         <webResource
               relativePathSource="js-lib/jQuery/jquery-1.11.0.js"
               relativePathTarget="js-lib/jQuery/jquery-1.11.0.js">
         </webResource>
         <importResource
               relativePath="js-lib/jQuery/jquery-1.11.0.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            webResourceBundleID="jQuery_1.11.0">
         <webResource
               relativePathSource="js-lib/jQuery/jquery-1.11.0.min.js"
               relativePathTarget="js-lib/jQuery/jquery-1.11.0.min.js">
         </webResource>
         <importResource
               relativePath="js-lib/jQuery/jquery-1.11.0.min.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            webResourceBundleID="jQueryUi_1.10.4">
         <webResource
               relativePathSource="js-lib/jQuery/jquery-1.11.0.min.js"
               relativePathTarget="js-lib/jQuery/jquery-1.11.0.min.js">
         </webResource>
         <webResource
               relativePathSource="js-lib/jQueryUI/"
               relativePathTarget="js-lib/jQueryUI/">
         </webResource>
         <importResource
               relativePath="js-lib/jQuery/jquery-1.11.0.min.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/jQueryUI/ui/jquery-ui.min.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/jQueryUI/themes/base/jquery-ui.min.css"
               type="CSS">
         </importResource>
      </webResourceBundle>
   </extension>

</plugin>
