<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="webResources" name="Web Resources" schema="schema/webResources.exsd"/>
   <extension-point id="javascriptComponents" name="Javascript Components" schema="schema/javascriptComponents.exsd"/>
   <extension
         id="D3-tip-master"
         point="org.knime.js.core.webResources">
      <webResourceBundle
            debug="false"
            name="RequireJS"
            version="2.1.8"
            webResourceBundleID="RequireJS_2.1.8">
         <webResource
               relativePathSource="js-lib/requireJS/require.js"
               relativePathTarget="js-lib/requireJS/require.js">
         </webResource>
         <importResource
               relativePath="js-lib/requireJS/require.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="jQuery"
            usesDefine="true"
            version="1.11.0"
            webResourceBundleID="jQuery_1.11.0_Debug">
         <webResource
               relativePathSource="js-lib/jQuery/jquery-1.11.0.js"
               relativePathTarget="js-lib/jQuery/jquery-1.11.0.js">
         </webResource>
         <importResource
               relativePath="js-lib/jQuery/jquery-1.11.0.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="false"
            name="jQuery"
            usesDefine="true"
            version="1.11.0"
            webResourceBundleID="jQuery_1.11.0">
         <webResource
               relativePathSource="js-lib/jQuery/jquery-1.11.0.min.js"
               relativePathTarget="js-lib/jQuery/jquery-1.11.0.min.js">
         </webResource>
         <importResource
               relativePath="js-lib/jQuery/jquery-1.11.0.min.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="jQuery UI"
            usesDefine="true"
            version="1.10.4"
            webResourceBundleID="jQueryUi_1.10.4_Debug">
         <webResource
               relativePathSource="js-lib/jQueryUI/debug/"
               relativePathTarget="js-lib/jQueryUI/debug/">
         </webResource>
         <importResource
               relativePath="js-lib/jQueryUI/debug/ui/jquery-ui.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/jQueryUI/debug/themes/base/jquery-ui.min.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="jQuery_1.11.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="false"
            name="jQuery UI"
            usesDefine="true"
            version="1.10.4"
            webResourceBundleID="jQueryUi_1.10.4">
         <webResource
               relativePathSource="js-lib/jQueryUI/min/"
               relativePathTarget="js-lib/jQueryUI/min/">
         </webResource>
         <importResource
               relativePath="js-lib/jQueryUI/min/ui/jquery-ui.min.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/jQueryUI/min/themes/base/jquery-ui.min.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="jQuery_1.11.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            exports="d3"
            name="D3_3.2.8_Debug"
            usesDefine="false"
            version="3.2.8"
            webResourceBundleID="D3_3.2.8_Debug">
         <webResource
               relativePathSource="js-lib/d3/d3.v3_2_8.js"
               relativePathTarget="js-lib/d3/d3.v3_2_8.js">
         </webResource>
         <importResource
               relativePath="js-lib/d3/d3.v3_2_8.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="false"
            exports="d3"
            name="D3_3.2.8"
            usesDefine="false"
            version="3.2.8"
            webResourceBundleID="D3_3.2.8">
         <webResource
               relativePathSource="js-lib/d3/d3.v3_2_8.min.js"
               relativePathTarget="js-lib/d3/d3.v3_2_8.min.js">
         </webResource>
         <importResource
               relativePath="js-lib/d3/d3.v3_2_8.min.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            exports="kt"
            name="Knime Table"
            usesDefine="false"
            version="1.0.0"
            webResourceBundleID="KnimeTable_1.0.0">
         <webResource
               relativePathSource="js-lib/knime/knime_table_1_0_0.js"
               relativePathTarget="js-lib/knime/knime_table_1_0_0.js">
         </webResource>
         <importResource
               relativePath="js-lib/knime/knime_table_1_0_0.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="KNIME Twinlist"
            version="1.0.0"
            webResourceBundleID="KnimeTwinlist_1.0.0">
         <webResource
               relativePathSource="js-lib/knime/knime_twinlist_1_0_0.js"
               relativePathTarget="js-lib/knime/knime_twinlist_1_0_0.js">
         </webResource>
         <importResource
               relativePath="js-lib/knime/knime_twinlist_1_0_0.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="jQuery_1.11.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="false"
            exports="jsfc"
            name="JSFreeChart"
            usesDefine="false"
            version="0.5.0"
            webResourceBundleID="jsFreeChart_0.5">
         <webResource
               relativePathSource="js-lib/JSFreeChart/"
               relativePathTarget="js-lib/JSFreeChart/">
         </webResource>
         <importResource
               relativePath="js-lib/JSFreeChart/jsfreechart.min.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/JSFreeChart/opentip-native.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/JSFreeChart/opentip.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="D3_3.2.8">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="jQuery Number Format"
            version="2.1.3"
            webResourceBundleID="jQueryNumberFormat_2.1.3_Debug">
         <webResource
               relativePathSource="js-lib/jQueryNumberFormat/debug/"
               relativePathTarget="js-lib/jQueryNumberFormat/debug/">
         </webResource>
         <importResource
               relativePath="js-lib/jQueryNumberFormat/debug/jquery.number.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="jQuery_1.11.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="false"
            name="jQuery Number Format"
            version="2.1.3"
            webResourceBundleID="jQueryNumberFormat_2.1.3">
         <webResource
               relativePathSource="js-lib/jQueryNumberFormat/min/"
               relativePathTarget="js-lib/jQueryNumberFormat/min/">
         </webResource>
         <importResource
               relativePath="js-lib/jQueryNumberFormat/min/jquery.number.min.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="jQuery_1.11.0">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="false"
            name="Firebug Lite"
            version="1.4.0"
            webResourceBundleID="firebug-lite_1.4.0">
         <webResource
               relativePathSource="js-lib/firebug-lite/"
               relativePathTarget="js-lib/firebug-lite/">
         </webResource>
         <importResource
               relativePath="js-lib/firebug-lite/firebug-lite.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="NVD3"
            version="1.8.1"
            webResourceBundleID="NVD3_1.8.1_Debug">
         <webResource
               relativePathSource="js-lib/nvd3/nv.d3.v1_8_1.js"
               relativePathTarget="js-lib/nvd3/nv.d3.v1_8_1.js">
         </webResource>
         <webResource
               relativePathSource="js-lib/nvd3/nv.d3.v1_8_1.css"
               relativePathTarget="js-lib/nvd3/nv.d3.v1_8_1.css">
         </webResource>
         <importResource
               relativePath="js-lib/nvd3/nv.d3.v1_8_1.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/nvd3/nv.d3.v1_8_1.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="D3_3.5.5_Debug">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="false"
            name="NVD3"
            version="1.8.1"
            webResourceBundleID="NVD3_1.8.1">
         <webResource
               relativePathSource="js-lib/nvd3/nv.d3.v1_8_1.min.js"
               relativePathTarget="js-lib/nvd3/nv.d3.v1_8_1.min.js">
         </webResource>
         <webResource
               relativePathSource="js-lib/nvd3/nv.d3.v1_8_1.min.css"
               relativePathTarget="js-lib/nvd3/nv.d3.v1_8_1.min.css">
         </webResource>
         <importResource
               relativePath="8js-lib/nvd3/nv.d3.v1_8_1.min.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="js-lib/nvd3/nv.d3.v1_8_1.min.css"
               type="CSS">
         </importResource>
         <webDependency
               webResourceBundleID="D3_3.5.5">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="D3"
            usesDefine="true"
            version="3.5.5"
            webResourceBundleID="D3_3.5.5_Debug">
         <webResource
               relativePathSource="js-lib/d3/d3.v3_5_5.js"
               relativePathTarget="js-lib/d3/d3.v3_5_5.js">
         </webResource>
         <importResource
               relativePath="js-lib/d3/d3.v3_5_5.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="false"
            name="D3"
            usesDefine="true"
            version="3.5.5"
            webResourceBundleID="D3_3.5.5">
         <webResource
               relativePathSource="js-lib/d3/d3.v3_5_5.min.js"
               relativePathTarget="js-lib/d3/d3.v3_5_5.min.js">
         </webResource>
         <importResource
               relativePath="js-lib/d3/d3.v3_5_5.min.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
   </extension>
   <!-- <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.knime.workbench.ui.preferences"
            class="org.knime.js.core.preferences.WizardNodeViewPreferencePage"
            id="org.knime.workbench.editor.js"
            name="JavaScript Views">
      </page>
   </extension> -->

</plugin>
