.container {
	width: 910px;
	height: 500px;
	border: thin solid #EEE;
	margin-left: 5%;
	margin-top: 20px;
	display:block;
}

.axis path,.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
	font-size:0.7em;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.dot {
  stroke: transparent;
  stroke-dasharray: 1 0.5;
  stroke-width: 1.5px;
}

.dot.selected {
	stroke: black;
}

.dot.highlighted {
	stroke: black;
}

.area {
  fill: steelblue;
  stroke: darkblue;
  stroke-width: 1.5px;
}

text {
	font: 12px sans-serif;	
}

rect.extent {
	fill: lightgray;
	opacity: 0.2;
	stroke: gray;
	stroke-width: 2px;
}