.knime-table-container {
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

h1 {
	font-family: sans-serif;
	font-size: 24px;
	margin: 0;
}

h2 {
	font-family: sans-serif;
	font-size: 14px;
	margin: 5px 0 15px 0;
}

.knime-table-container .col-lg-1:first-child,
.knime-table-container .col-lg-10:first-child,
.knime-table-container .col-lg-11:first-child,
.knime-table-container .col-lg-12:first-child,
.knime-table-container .col-lg-2:first-child,
.knime-table-container .col-lg-3:first-child,
.knime-table-container .col-lg-4:first-child,
.knime-table-container .col-lg-5:first-child,
.knime-table-container .col-lg-6:first-child,
.knime-table-container .col-lg-7:first-child,
.knime-table-container .col-lg-8:first-child,
.knime-table-container .col-lg-9:first-child,
.knime-table-container .col-md-1:first-child,
.knime-table-container .col-md-10:first-child,
.knime-table-container .col-md-11:first-child,
.knime-table-container .col-md-12:first-child,
.knime-table-container .col-md-2:first-child,
.knime-table-container .col-md-3:first-child,
.knime-table-container .col-md-4:first-child,
.knime-table-container .col-md-5:first-child,
.knime-table-container .col-md-6:first-child,
.knime-table-container .col-md-7:first-child,
.knime-table-container .col-md-8:first-child,
.knime-table-container .col-md-9:first-child,
.knime-table-container .col-sm-1:first-child,
.knime-table-container .col-sm-10:first-child,
.knime-table-container .col-sm-11:first-child,
.knime-table-container .col-sm-12:first-child,
.knime-table-container .col-sm-2:first-child,
.knime-table-container .col-sm-3:first-child,
.knime-table-container .col-sm-4:first-child,
.knime-table-container .col-sm-5:first-child,
.knime-table-container .col-sm-6:first-child,
.knime-table-container .col-sm-7:first-child,
.knime-table-container .col-sm-8:first-child,
.knime-table-container .col-sm-9:first-child,
.knime-table-container .col-xs-1:first-child,
.knime-table-container .col-xs-10:first-child,
.knime-table-container .col-xs-11:first-child,
.knime-table-container .col-xs-12:first-child,
.knime-table-container .col-xs-2:first-child,
.knime-table-container .col-xs-3:first-child,
.knime-table-container .col-xs-4:first-child,
.knime-table-container .col-xs-5:first-child,
.knime-table-container .col-xs-6:first-child,
.knime-table-container .col-xs-7:first-child,
.knime-table-container .col-xs-8:first-child,
.knime-table-container .col-xs-9:first-child {
	padding-left: 0;
}

.knime-table-container .col-lg-1:last-child,
.knime-table-container .col-lg-10:last-child,
.knime-table-container .col-lg-11:last-child,
.knime-table-container .col-lg-12:last-child,
.knime-table-container .col-lg-2:last-child,
.knime-table-container .col-lg-3:last-child,
.knime-table-container .col-lg-4:last-child,
.knime-table-container .col-lg-5:last-child,
.knime-table-container .col-lg-6:last-child,
.knime-table-container .col-lg-7:last-child,
.knime-table-container .col-lg-8:last-child,
.knime-table-container .col-lg-9:last-child,
.knime-table-container .col-md-1:last-child,
.knime-table-container .col-md-10:last-child,
.knime-table-container .col-md-11:last-child,
.knime-table-container .col-md-12:last-child,
.knime-table-container .col-md-2:last-child,
.knime-table-container .col-md-3:last-child,
.knime-table-container .col-md-4:last-child,
.knime-table-container .col-md-5:last-child,
.knime-table-container .col-md-6:last-child,
.knime-table-container .col-md-7:last-child,
.knime-table-container .col-md-8:last-child,
.knime-table-container .col-md-9:last-child,
.knime-table-container .col-sm-1:last-child,
.knime-table-container .col-sm-10:last-child,
.knime-table-container .col-sm-11:last-child,
.knime-table-container .col-sm-12:last-child,
.knime-table-container .col-sm-2:last-child,
.knime-table-container .col-sm-3:last-child,
.knime-table-container .col-sm-4:last-child,
.knime-table-container .col-sm-5:last-child,
.knime-table-container .col-sm-6:last-child,
.knime-table-container .col-sm-7:last-child,
.knime-table-container .col-sm-8:last-child,
.knime-table-container .col-sm-9:last-child,
.knime-table-container .col-xs-1:last-child,
.knime-table-container .col-xs-10:last-child,
.knime-table-container .col-xs-11:last-child,
.knime-table-container .col-xs-12:last-child,
.knime-table-container .col-xs-2:last-child,
.knime-table-container .col-xs-3:last-child,
.knime-table-container .col-xs-4:last-child,
.knime-table-container .col-xs-5:last-child,
.knime-table-container .col-xs-6:last-child,
.knime-table-container .col-xs-7:last-child,
.knime-table-container .col-xs-8:last-child,
.knime-table-container .col-xs-9:last-child {
	padding-right: 0;
}

.knime-table-container .row {
	margin: 0;
}

.knime-table-container .dataTables_wrapper .dt-buttons.btn-group {
	width: auto;
}

table.knime-table {
    user-select: none;
    -moz-user-select: none;
    margin-top: 0 !important;
}

.knime-table:focus {
    outline: none;
}

.knime-table td.no-break {
	white-space: nowrap;
}

.knime-table td.no-break .rowKey {
	white-space: normal;
}

.knime-table td .knime-missing-value-cell {
	color: #d9534f;
}

.knime-table #checkbox-select-all,
.knime-table #clear-selection-button,
.knime-table td.selection-cell input[type=checkbox], 
.knime-table td.selection-cell input[type=radio] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.knime-table #clear-selection-button {
	border: none;
    font-size: 14px;
}

.knime-table #clear-selection-button span.glyphicon{
    display: block;
    padding-bottom: 3px;
}

@media screen and (max-width: 300px) {
	li.paginate_button.previous {
		display: inline !important;
	}
	li.paginate_button.next {
		display: inline !important;
	}
	li.paginate_button {
		display: none !important;
	}
	input.knime-filter {
		display: block !important;
		width: 100% !important;
	}
	select.knime-table-control-text {
		display: block !important;
	}
	.knime-table-container div.knime-table-info {
		white-space: normal;
	}
}