<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.core.WizardNodeView">
      <wizardNodeView
            description="This option uses the internal Chromium browser to display a node view."
            name="Bundled Chromium Browser (version 91)"
            viewClass="org.knime.ext.seleniumdrivers.multios.ChromiumWizardNodeView">
      </wizardNodeView>
   </extension>
   <extension
         point="org.knime.js.core.headlessBrowsers">
      <headlessBrowser
            imageGeneratorClass="org.knime.ext.seleniumdrivers.multios.ChromiumImageGenerator"
            name="Bundled Headless Chromium (version 91)">
      </headlessBrowser>
   </extension>

</plugin>
