:root {
    --knime-yellow: hsl(50, 100%, 50%);
    --knime-gray-light: hsl(0, 0%, 49%);
    --knime-gray-dark: hsl(0, 0%, 20%);
    --knime-gray-ultra-light: rgb(223, 223, 223);
    --knime-yellow-sec-integrations: hsl(51, 100%, 72.7%);
    --knime-yellow-sec-extensions: hsl(51, 100%, 62.5%);
    --knime-yellow-sec-server: hsl(47, 94.1%, 53.7%);
    --knime-gray-sec-comm-extensions: hsl(0, 0%, 86.7%);
    --knime-gray-sec-partner-extensions: hsl(0, 0%, 73.3%);

    --knime-view-preview: #c2e2ed;
    --knime-view-preview-semi: #c2e2edb9;
    --knime-view-preview-active: #ddf5fd;
    --knime-configuration-preview: #cbd9a9;
    --knime-configuration-preview-semi: #cbd9a9b9;

    --button-color: var;
    --button-color-hover: rgb(202, 202, 202);
    --button-color-highlight: var(--knime-yellow-sec-server);

    --column-min-height: 60px;
    --button-size: 14px;
}